#content {
	text-align: center;
	margin-top: 25%;
/*	this adds shadow around text: x-offest, y-offset, blur, color;*/ /*change colors to see differences*/
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4), 
				 0px 8px 13px rgba(0,0,0,0.1),
				 0px 18px 23px rgba(0,0,0,0.1);
}

/*cover up a whole background with an image*/
body {
	background: url(https://hd.unsplash.com/photo-1455145914126-c357157e2db0) no-repeat;
	background-size: cover;
	background-position: center;
	font-family: 'Lato', sans-serif;
}

/*helps keep background image staying in the center as it goes responsive
*/
html {
	height:100%;
}

h1, h3 {
	color: #ffffff;
}

h1 {
	font-size: 6rem;
	font-weight: 700;
}

h3 {
	font-size: 1.75rem;
}

/*add shadow to hr*/
hr {
	width:400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2)

}