h1, h2, h3, h4, h5, h6, a {
    font-family: sans-serif;
}

p {
    line-height: 1.5em;
    font-size: .9em;
}

header {
    height: 100%;
    background-position: center;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background: url("http://s18.postimg.org/npewn5w15/header.jpg");
}

body {
    margin: 0 auto;
    font-size: 20px;
}

nav#header-nav {
    width: 100%;
    float: left;
    padding-top: 1em;
    float: right;
    text-align: center;
    background: rgba(255,255,255,0.6);
}

ul.main-nav {
    width: 100%;
    margin: .25em auto;
    margin-bottom: 1em;
    padding:  0;
}

li {
    display: inline;
}

.hero-header img {
    width:45%;
    display:inline;
}

a {
    text-decoration: none;
    color: #131212;
    font-size: .58em;
    text-transform: uppercase;
    padding: 0 2em;
    letter-spacing: .2em;
    font-weight: bolder;
}

#my-work a {
    color: white;
    font-size: .75em;
}

a:hover, #my-work a:hover {
    color: #FFB7A7;
}

.hero-header {
    width: 800px;
    margin: 0 auto;
    text-align: center;
    color: white;
    font-family: sans-serif;
    letter-spacing: 0.3em;
    padding-top: 20%;
    padding-right: 36%;
}

h1#homepage-header {
    font-size: 17px;
    margin-top: -48px;
}

section#about-me {
    width: 40%;
    padding: 5%;
    display: inline-block;
}

section#about-work {
    width: 40%;
    display: inline-block;
    padding-left: 4%;
    padding-right: 5%;
    float: right;
    padding: 5% 5% 5% 4.6%;
}    

.button {
    width: 100%;
    margin: 0 auto;
    padding-left: 0% !important;
    font-family: sans-serif;
    color: #000000;
    text-align: center;}


h2 {
    font-weight: 200;
    margin-bottom: .1em;
    font-size: 1.2em;
}

hr {
    width: 25%;
    display: inline-block;
}
section#intro {
    border:  1px black solid;
    padding: 3em 7em 5em;
    text-align: center;
}
section#about-pictures {
    background: #ffe2b8;
    border:  1px black solid;
    padding: 20px;
}
footer {
    padding: 1em;
    text-align: center;
    font-size: .9em;
}
section#gallery {
    background: #ffe2b8;
    border:  1px black solid;
    padding: 20px;
    text-align: center;
}

.clearfix:after, .clearfix:before {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

div#pic-1 {
    float: left;
    width: 33%;
    text-align: center;
    background: #e8c66a;
    padding-top: 18%;
    padding-bottom: 18%;
}

div#pic-2 {
    float: left;
    width: 34%;
    text-align: center;
    background: #ffed74;
    padding-top: 18%;
    padding-bottom: 18%;
}

div#pic-3 {
    float: left;
    width: 33%;
    text-align: center;
    background: #ff957e;
    padding-top: 18%;
    padding-bottom: 18%;
}


@media only screen and (max-width: 900px) {
    header {
        width: 100%;
        height:70%;
    }
    section#about-me, section#about-work {
        width:90%;
        float: none;
    }

}
@media only screen and (max-width: 750px) {
    .hero-header{
        width: 100%;
    }
    section#intro {
        padding: 3em;
    }
    div#pic-3 {
        display:none;
    }
    div#pic-1, div#pic-2 {
        width:50%;
        padding:30% 0;
    }


}

@media only screen and (max-width: 650px) {
    header {
        width: 100%;
        height:50%;
    }
    nav#header-nav {
        padding-top: .5em;
    }
        div#pic-2 {
            display: none;
        }

        div#pic-1 {
        width: 400px;
        padding: 30% 0;
        margin: 0 auto;
        float: none;
    }
    #my-work a {
        font-size: .5em;
    }


}

@media only screen and (max-width: 490px) {
    header {
        width: 100%;
        height:40%;
    }
    .hero-header img {
        width:60%;
    }
        section#intro {
        padding: 1em;
    }
    a {
        font-size: .5em;
    }

}


