/* PLUGINS */
/* BASE STYLES */
/* COMMON.SASS */
body {
  font-size: 14px; }

p, ol, ul {
  font-size: 17px; }

h3 {
  padding: 10px 0 5px; }

.container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  min-height: 100vh;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

button:focus {
  outline: 0; }

.button {
  display: inline-block;
  width: 22rem;
  padding: 15px;
  margin-top: 3rem;
  height: 6rem;
  border-radius: 5px;
  text-align: center;
  font-size: 2rem;
  border: 2px solid;
  background: transparent;
  text-decoration: none; }
  .button:hover, .button:active {
    text-decoration: none; }
  .button:active {
    position: relative;
    top: 3px; }
  @media (max-width: 630px) {
    .button {
      height: 4rem;
      font-size: 2rem; } }

/* NAVBAR.SASS */
.navbar-default {
  background: transparent;
  border: none;
  border-radius: 0px; }
  .navbar-default .navbar-link {
    font-weight: bold; }
  .navbar-default .navbar-link, .navbar-default .navbar-nav > li > a {
    color: rgba(25, 111, 75, 0.6); }
    .navbar-default .navbar-link:visited, .navbar-default .navbar-link:hover, .navbar-default .navbar-link:active, .navbar-default .navbar-nav > li > a:visited, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:active {
      color: #196f4b; }
  .navbar-default .navbar-toggle {
    border-color: rgba(25, 111, 75, 0.6); }
    .navbar-default .navbar-toggle:visited, .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:active {
      background: rgba(25, 111, 75, 0.6);
      border: none; }
      .navbar-default .navbar-toggle:visited .icon-bar, .navbar-default .navbar-toggle:hover .icon-bar, .navbar-default .navbar-toggle:active .icon-bar {
        background: rgba(45, 203, 137, 0.5); }
    .navbar-default .navbar-toggle .icon-bar {
      background: rgba(25, 111, 75, 0.6); }
  .navbar-default .navbar-collapse {
    border-color: rgba(25, 111, 75, 0.6); }
    @media (max-width: 768px) {
      .navbar-default .navbar-collapse:hover, .navbar-default .navbar-collapse:active {
        background: rgba(25, 111, 75, 0.25); } }

/* HEADER.SASS */
header {
  margin-bottom: 3rem; }

.page-header {
  text-align: center;
  border: none;
  padding-bottom: 3rem; }
  .page-header h1 {
    font-size: 4em;
    line-height: 1.6;
    font-weight: normal; }
    @media (max-width: 630px) {
      .page-header h1 {
        font-size: 3em; } }
    .page-header h1 small {
      display: block;
      font-size: 0.4em; }

/* FOOTER.SASS */
footer {
  margin: auto 0;
  padding: 2rem 0 1rem 0;
  text-align: center;
  margin-top: 4rem; }

/* LAYOUTS */
/* CALC PAGE.SASS */
#calc-body {
  background: #2dcb89; }
  #calc-body .navbar-default .navbar-link, #calc-body .navbar-default .navbar-nav > li > a {
    color: rgba(25, 111, 75, 0.6); }
    #calc-body .navbar-default .navbar-link:visited, #calc-body .navbar-default .navbar-link:hover, #calc-body .navbar-default .navbar-link:active, #calc-body .navbar-default .navbar-nav > li > a:visited, #calc-body .navbar-default .navbar-nav > li > a:hover, #calc-body .navbar-default .navbar-nav > li > a:active {
      color: #196f4b; }
  #calc-body .navbar-default .navbar-toggle {
    border-color: rgba(25, 111, 75, 0.6); }
    #calc-body .navbar-default .navbar-toggle:visited, #calc-body .navbar-default .navbar-toggle:hover, #calc-body .navbar-default .navbar-toggle:active {
      background: rgba(25, 111, 75, 0.6); }
      #calc-body .navbar-default .navbar-toggle:visited .icon-bar, #calc-body .navbar-default .navbar-toggle:hover .icon-bar, #calc-body .navbar-default .navbar-toggle:active .icon-bar {
        background: rgba(45, 203, 137, 0.5); }
    #calc-body .navbar-default .navbar-toggle .icon-bar {
      background: rgba(25, 111, 75, 0.6); }
  #calc-body .navbar-default .navbar-collapse {
    border-color: rgba(25, 111, 75, 0.6); }
    @media (max-width: 768px) {
      #calc-body .navbar-default .navbar-collapse:hover, #calc-body .navbar-default .navbar-collapse:active {
        background: rgba(25, 111, 75, 0.25); } }
  #calc-body header {
    background: rgba(25, 111, 75, 0.25); }
  #calc-body .page-header h1 {
    color: rgba(25, 111, 75, 0.8); }
  #calc-body .page-header small {
    color: rgba(25, 111, 75, 0.8); }
  #calc-body footer {
    background: rgba(25, 111, 75, 0.25);
    color: rgba(25, 111, 75, 0.6); }

.calculator {
  padding: 1em 2em;
  box-sizing: border-box; }

/* HOME.SASS */
#home-body {
  background: #6ed4ff; }
  #home-body .navbar-default .navbar-link, #home-body .navbar-default .navbar-nav > li > a {
    color: rgba(57, 129, 165, 0.6); }
    #home-body .navbar-default .navbar-link:visited, #home-body .navbar-default .navbar-link:hover, #home-body .navbar-default .navbar-link:active, #home-body .navbar-default .navbar-nav > li > a:visited, #home-body .navbar-default .navbar-nav > li > a:hover, #home-body .navbar-default .navbar-nav > li > a:active {
      color: #3981a5; }
  #home-body .navbar-default .navbar-toggle {
    border-color: rgba(57, 129, 165, 0.6); }
    #home-body .navbar-default .navbar-toggle:visited, #home-body .navbar-default .navbar-toggle:hover, #home-body .navbar-default .navbar-toggle:active {
      background: rgba(57, 129, 165, 0.6); }
      #home-body .navbar-default .navbar-toggle:visited .icon-bar, #home-body .navbar-default .navbar-toggle:hover .icon-bar, #home-body .navbar-default .navbar-toggle:active .icon-bar {
        background: rgba(110, 212, 255, 0.5); }
    #home-body .navbar-default .navbar-toggle .icon-bar {
      background: rgba(57, 129, 165, 0.6); }
  #home-body .navbar-default .navbar-collapse {
    border-color: rgba(57, 129, 165, 0.6); }
    @media (max-width: 768px) {
      #home-body .navbar-default .navbar-collapse:hover, #home-body .navbar-default .navbar-collapse:active {
        background: rgba(57, 129, 165, 0.25); } }
  #home-body header {
    background: rgba(57, 129, 165, 0.25); }
  #home-body .page-header h1 {
    color: rgba(57, 129, 165, 0.8); }
  #home-body .page-header small {
    color: rgba(57, 129, 165, 0.8); }
  #home-body footer {
    background: rgba(57, 129, 165, 0.25);
    color: rgba(57, 129, 165, 0.6); }
  #home-body .button {
    margin: 6rem auto 0;
    display: block;
    color: rgba(57, 129, 165, 0.8);
    border-color: rgba(57, 129, 165, 0.8); }
    #home-body .button:hover, #home-body .button:active {
      border: rgba(57, 129, 165, 0.5);
      background: rgba(57, 129, 165, 0.5);
      color: rgba(255, 255, 255, 0.8);
      text-decoration: none; }

.explain {
  padding: 20px; }
  .explain h2 {
    text-align: center;
    padding-bottom: 15px;
    color: #2c637f;
    border-bottom: 2px solid #2c637f;
    font-size: 3rem;
    margin-bottom: 3rem; }
  .explain p, .explain ol, .explain h3 {
    color: #1f4659; }
  .explain ol {
    font-weight: bold; }

/* MODULES */
/* CALCULATOR.SASS */
.calculator p:nth-of-type(1) {
  text-align: center; }

.calculator-form {
  padding: 0 0 5em;
  font-size: 2em;
  font-weight: normal;
  width: 80%;
  margin: 0 auto; }
  @media (max-width: 630px) {
    .calculator-form {
      font-size: 1.5em; } }
  .calculator-form .form-group {
    margin-bottom: 3rem; }
  .calculator-form label {
    font-weight: normal;
    color: #196f4b; }
  .calculator-form input.form-control {
    padding: 4rem 1em;
    box-sizing: border-box;
    font-size: 1em;
    line-height: 1;
    border: none;
    border-radius: 0px;
    box-shadow: none;
    background: rgba(25, 111, 75, 0.25);
    color: #196f4b;
    outline: 0; }
    .calculator-form input.form-control:hover, .calculator-form input.form-control:active {
      outline: 0;
      box-shadow: none; }
    .calculator-form input.form-control:focus, .calculator-form input.form-control:enabled {
      outline: 0;
      box-shadow: none; }
    .calculator-form input.form-control::-webkit-input-placeholder {
      color: rgba(25, 111, 75, 0.5); }
    .calculator-form input.form-control::-moz-placeholder {
      color: rgba(25, 111, 75, 0.5); }
    .calculator-form input.form-control:-ms-input-placeholder {
      color: rgba(25, 111, 75, 0.5); }
    .calculator-form input.form-control:-moz-placeholder {
      color: rgba(25, 111, 75, 0.5); }
    @media (max-width: 630px) {
      .calculator-form input.form-control {
        padding: 3rem 1em; } }

.input-group-addon {
  background: rgba(25, 111, 75, 0.25);
  color: #196f4b;
  font-size: 1em;
  box-sizing: border-box;
  border: none;
  border-radius: 0px; }

#arrow {
  color: rgba(25, 111, 75, 0.5); }

.form-control:active #arrow, .form-control:hover ~ #arrow {
  color: #196f4b; }

#next {
  width: 100%;
  margin-top: 3rem;
  height: 7rem;
  border-radius: 5px;
  color: #196f4b;
  font-size: 3rem;
  letter-spacing: 1px;
  background: transparent;
  border: 2px solid #196f4b; }
  #next:hover, #next:active {
    border: rgba(25, 111, 75, 0.5);
    background: rgba(25, 111, 75, 0.5);
    color: rgba(25, 111, 75, 0.7); }
  #next:active {
    position: relative;
    top: 3px; }
  @media (max-width: 630px) {
    #next {
      height: 5rem;
      font-size: 2rem; } }

/* ERRORS.SASS */
.form-group p {
  color: #a94442;
  background: #f2dede;
  padding: 10px;
  border: 1px solid #ebccd1; }

/* MESSAGE.SASS */
#finalMessage {
  display: none;
  -webkit-flex-flow: column wrap;
  -moz-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-justify-content: space-around;
  -moz-justify-content: space-around;
  -ms-justify-content: space-around;
  justify-content: space-around;
  -ms-flex-pack: space-around;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  height: 40rem;
  width: 100%;
  margin: 5rem auto 2rem;
  background: rgba(25, 111, 75, 0.25);
  border-radius: 5px;
  color: #196f4b; }
  @media (max-width: 1000px) {
    #finalMessage {
      height: auto;
      width: auto;
      padding: 10px; } }
  #finalMessage span {
    font-size: 5rem;
    font-weight: bolder;
    margin: 0 0.5rem; }
    @media (max-width: 1000px) {
      #finalMessage span {
        font-size: 4rem; } }
    @media (max-width: 630px) {
      #finalMessage span {
        font-size: 3rem; } }

.cost {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column wrap;
  -moz-flex-flow: column wrap;
  -ms-flex-flow: column wrap;
  flex-flow: column wrap;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  height: auto;
  width: 95%;
  margin: auto;
  padding-bottom: 20px;
  border-bottom: 2px solid; }
  .cost p {
    font-size: 4rem; }
    @media (max-width: 1000px) {
      .cost p {
        font-size: 3rem; } }
    @media (max-width: 768px) {
      .cost p {
        font-size: 3.5rem; } }
    @media (max-width: 630px) {
      .cost p {
        font-size: 2.5rem; } }

.title {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  -moz-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;
  -ms-flex-pack: flex-start;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  height: 10rem;
  width: 100%; }
  .title p:nth-of-type(1) {
    width: 64%; }
    @media (max-width: 768px) {
      .title p:nth-of-type(1) {
        width: auto; } }
  .title p:nth-of-type(2) {
    font-size: 3rem; }
    @media (max-width: 1000px) {
      .title p:nth-of-type(2) {
        font-size: 2rem; } }
  @media (max-width: 768px) {
    .title {
      -webkit-flex-flow: column nowrap;
      -moz-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
      flex-flow: column nowrap;
      -webkit-justify-content: space-around;
      -moz-justify-content: space-around;
      -ms-justify-content: space-around;
      justify-content: space-around;
      -ms-flex-pack: space-around;
      height: auto; } }

.savings {
  width: 95%;
  text-align: center;
  margin: auto; }
  .savings p {
    font-size: 3.5rem; }
    @media (max-width: 1000px) {
      .savings p {
        font-size: 2.5rem; } }
    @media (max-width: 630px) {
      .savings p {
        font-size: 2rem; } }
